# Challenge 1

In this challenge you will be working on **pokemons**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](pokemon.jpg)

Follow the instructions below and enter your code.

### Import all required libraries

In [21]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Import data set

Import data set `Pokemon.csv` from the `your-code` directory of this lab. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [22]:
# import data set
pokemon = pd.read_csv('Pokemon.csv')

### Print first 10 rows of `pokemon`

In [23]:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

### Obtain the distinct values across `Type 1` and `Type 2`

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [24]:
# Method 1: use set theory by selecting the unique values from 'Type 1' and the union() with 'Type 2'
types_m1 = np.array(set(pokemon['Type 1']).union(set(pokemon['Type 2'])))

In [25]:
types_m1

array({nan, 'Flying', 'Grass', 'Bug', 'Normal', 'Ground', 'Psychic', 'Ghost', 'Fire', 'Poison', 'Steel', 'Dragon', 'Fairy', 'Water', 'Dark', 'Electric', 'Rock', 'Fighting', 'Ice'},
      dtype=object)

In [26]:
# Method 2: collect the unique values from 'Type 1' and 'Type 2', 
# than flat the array with the values.ravel() function
types_m2 = pd.unique(pokemon[['Type 1', 'Type 2']].values.ravel())

In [27]:
types_m2

array(['Grass', 'Poison', 'Fire', nan, 'Flying', 'Dragon', 'Water', 'Bug',
       'Normal', 'Electric', 'Ground', 'Fairy', 'Fighting', 'Psychic',
       'Rock', 'Steel', 'Ice', 'Ghost', 'Dark'], dtype=object)

### Cleanup `Name` that contain "Mega"

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

#### Regular expressions:

* .
* *
* (
* ?
* =
* Mega
* )

In [47]:
# use a string method to clean up the data
pokemon['name_rec'] = pokemon['Name'].str.replace(".*(?=Mega)", "")

In [48]:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,name_rec,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Bulbasaur,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Ivysaur,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Venusaur,0.987952,Grass-Poison
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Mega Venusaur,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Charmander,1.209302,Fire
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,Charmeleon,1.103448,Fire
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,Charizard,1.076923,Fire-Flying
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,Mega Charizard X,1.171171,Dragon-Fire
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,Mega Charizard Y,1.333333,Fire-Flying
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,Squirtle,0.738462,Water

### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [49]:
# Method 1: use the div() function
pokemon['A/D Ratio'] = pokemon.Attack.div(pokemon.Defense)

In [50]:
pokemon.head(2)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,name_rec,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Bulbasaur,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Ivysaur,0.984127,Grass-Poison

In [51]:
# Method 2:
pokemon['A/D Ratio'] = pokemon.Attack / pokemon.Defense

In [52]:
pokemon.head(2)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,name_rec,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Bulbasaur,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Ivysaur,0.984127,Grass-Poison

### Identify the pokemon with the highest `A/D Ratio`

In [53]:
# use the idxmax() function
pokemon['A/D Ratio'].idxmax()

429

In [54]:
pokemon.iloc[429]

#                            386
Name          DeoxysAttack Forme
Type 1                   Psychic
Type 2                       NaN
Total                        600
HP                            50
Attack                       180
Defense                       20
Sp. Atk                      180
Sp. Def                       20
Speed                        150
Generation                     3
Legendary                   True
name_rec      DeoxysAttack Forme
A/D Ratio                      9
Combo Type               Psychic
Name: 429, dtype: object

### Identify the pokemon with the lowest A/D Ratio

In [55]:
# use the idxmin() function
pokemon['A/D Ratio'].idxmin()

230

In [56]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,name_rec,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Bulbasaur,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Ivysaur,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Venusaur,0.987952,Grass-Poison
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Mega Venusaur,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Charmander,1.209302,Fire

In [57]:
pokemon.iloc[230]

#                   213
Name            Shuckle
Type 1              Bug
Type 2             Rock
Total               505
HP                   20
Attack               10
Defense             230
Sp. Atk              10
Sp. Def             230
Speed                 5
Generation            2
Legendary         False
name_rec        Shuckle
A/D Ratio     0.0434783
Combo Type     Bug-Rock
Name: 230, dtype: object

### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [58]:
def combo_type(x):
    # check if 'Type 2' is null
    if pd.isnull(x['Type 2']):
        # if it is null, returns 'Type 1'
        return(x['Type 1'])

    # if none of the strings are null, returns formated string of type1, -, and type2, putting the longest word
    #first (avoids repetitions like Bug-Poisson and Poisson-Bug)
    if x['Type 1'] > x['Type 2']:
        y = x['Type 2']+ '-' + x['Type 1']
    else :
        y = x['Type 1']+ '-' + x['Type 2']
    return y

For more information about formating strings:
*  https://realpython.com/python-f-strings/

In [59]:
# calling the apply method to iterate over all rows
pokemon['Combo Type'] = pokemon.apply(
    # lambda goes withing each string applying the combo_function
    lambda x: combo_type(x), axis=1)

In [60]:
pokemon.head(1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,name_rec,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Bulbasaur,1.0,Grass-Poison

### Identify the pokemons whose `A/D Ratio` are among the top 5

In [61]:
# Method 1:
pokemon['A/D Ratio'].sort_values(ascending=False).head(5)

429    9.000
347    4.500
19     3.750
453    3.125
428    3.000
Name: A/D Ratio, dtype: float64

In [62]:
# Method 2:
pokemon.sort_values(by='A/D Ratio', ascending=False)[['Name', 'A/D Ratio']].head(5)

                      Name  A/D Ratio
429     DeoxysAttack Forme      9.000
347               Carvanha      4.500
19   BeedrillMega Beedrill      3.750
453               Cranidos      3.125
348               Sharpedo      3.000

In [63]:
# Method 3:
pokemon.nlargest(5, 'A/D Ratio')[['Name', 'Combo Type']]

                      Name  Combo Type
429     DeoxysAttack Forme     Psychic
347               Carvanha  Dark-Water
19   BeedrillMega Beedrill  Bug-Poison
453               Cranidos        Rock
348               Sharpedo  Dark-Water

### For the 5 pokemons printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemons with the highest `A/D Ratio`.

In [64]:
top5 = list(pokemon.nlargest(5, 'A/D Ratio')['Combo Type'].unique())

In [65]:
top5

['Psychic', 'Dark-Water', 'Bug-Poison', 'Rock']

### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemons.

Your output should look like below:

![Aggregate](aggregated-mean.png)

In [66]:
# create a boolean mask to select elements from top5 list
top5_mask = pokemon['Combo Type'].isin(top5)

In [67]:
# the top5_mask returns a list of booleans
top5_mask.head()

0    False
1    False
2    False
3    False
4    False
Name: Combo Type, dtype: bool

In [68]:
# subset the dataframe with the top5_mask
top5_pokemon = pokemon[top5_mask]

In [69]:
top5_pokemon.head(1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,name_rec,A/D Ratio,Combo Type
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False,Weedle,1.166667,Bug-Poison

In [70]:
# groupby new dataset
top5_pokemon.groupby('Combo Type').mean()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
Combo Type,,,,,,,,,,,
Bug-Poison,218.538462,346.538462,52.692308,66.923077,60.538462,41.538462,59.000000,65.846154,2.461538,0.000000,1.257494
Dark-Water,347.666667,493.833333,69.166667,120.000000,65.166667,88.833333,63.500000,87.166667,3.166667,0.000000,2.291949
Psychic,381.973684,464.552632,72.552632,64.947368,67.236842,98.552632,82.394737,78.868421,3.342105,0.236842,1.164196
Rock,410.111111,409.444444,67.111111,103.333333,107.222222,40.555556,58.333333,32.888889,3.888889,0.111111,1.260091